<h1>Animal Sounds!!</h1>

    <form action='/animal' method='get'>
      <div class="form-group">
        <label for="animalOne">Choose Dog, Cat or Bear:</label>
        <input id="animalOne" name="animalOne" class="form-control" type="text">
      </div>

      <button type="submit" class="btn btn-info">What sound do I make?</button>

    </form>
